body,
html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 18px;
}

h1 {
  font-weight: 500;
}

body,
h1,
h2,
h3,
h4 {
  color: #000;
}

.post-item {
  border-bottom: 1px solid #d6d6d6;
  padding: 40px 0;
}

.post-item .heading h2 {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 40px;
}

.post-item p.description {
  font-weight: 400;
  margin-bottom: 40px;
}

.post img {
  margin: 0 0 60px 0;
}

.post h1 {
  font-weight: 700;
  margin: 40px 0 60px 0;
}

.post .publish-date {
  margin-bottom: 60px;
  color: #999;
}
