---
layout: 'layouts/base.njk'
title: 'View All Posts'
---

<div class="row">
  <div class="column">
    <h1>Posts</h1>

    {% for post in posts %}
    {% set slug = post.title | slugify %}
    <div class="post-item">
      <div class="heading">
        <h2>
          <a href="/{{ slug | url }}/">{{ post.title }}</a>
        </h2>
      </div>

      <p class="description">{{ post.shortDescription | safe }}</p>
      <div class="more">Published on {{ post.publishDate }}</div>
    </div>
    {% endfor %}
  </div>
</div>
